.wrapper {
    background-color: #fff;
    height: 80px;
    color: red;
}

.inner {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.searchForm {
    width: 30%;
    height: 100%;
    display: flex;
}

.searchBar {
    border: 1px solid #888888;
    border-radius: 10px;
    font-size: 17px;
    height: 40px;
    width: 100%;
    float: left;
    margin: auto;
    padding-left: 30px;
}

.iconContainer {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.iconButton {
    margin: auto;
    height: fit-content;
    padding: 10px;
    background-color: #93DEFF;
    border: none;
    border: 0.5px solid #333;
    border-radius: 10px;
}
.iconButton>button {
    background-color: #93DEFF;
    border: none;
    
    cursor: pointer;
}
/* src/components/Search.css */


.result-list {
list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 70px;
background-color: #fff;
width: 600px;

}

.result-item {
    display: flex;
    width: 100%;    
border-bottom: 1px solid #ddd;
cursor: pointer;
transition: background-color 0.3s;
margin-bottom: 10px;
}

.result-item:hover {
background-color: #f0f0f0;
}

.result-item:last-child {
border-bottom: none;
}
.resultImg {
    width: 15%;
}
.resultTitle {
    padding: 10px;
    color: #000;
}