.wrapper {
    background-color: #fff;
    height: 80px;
    width: 100%;
    margin: auto;
}



.logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.inner {
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    justify-content: space-around;
}

.inner > .left {
    margin: auto;
    width: 30%;
    padding-right: 10px;
    border-right: 1px solid lightgray;
}

.inner > .right {
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}
.inner h3 {
    font-size: 16px;
}
.inner li {
    list-style-type: none;
    padding: 5px;
}
.inner ul {
    padding: 0;
}
.left > div {
    padding: 5px;
    font-size: 13px;
}
.left .logo img {
    width: 40%;
}
.inner a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.inner a:hover {
    color: #cf0a0a;
}
.fcol {
    margin: 10px;
}

