.filterContainer {
    width: 75%;
    margin: auto;
    display: flex;
}
.filterContainer input, .filterContainer select, .filterContainer select option {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    
}
.listContainer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.pagin {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
.pagin>button {
    min-width: 70px;
    cursor: pointer;
    background-color: #93deff;
    border-radius: 10px;
    font-size: 14px;
    border: 0.5px solid #888888;
}
.pagin>span {
    margin: 10px;
    font-size: 14px;
}